= form_for @group do |f|
  -if @group.errors.any?
    #error_explanation
      %h2= "#{pluralize(@group.errors.count, "error")} prohibited this group from being saved:"
      %ul
        - @group.errors.full_messages.each do |msg|
          %li= msg

  .input
    = f.label :name
    = f.text_field :name
  .input
    = f.label :code
    = f.text_field :code
  .input
    = f.label :description
    = f.text_area :description
  .input
    = f.label :restaurant_ids
    = f.select :restaurant_ids, options_for_select(@restaurants, @group.restaurant_ids), {}, { :class => 'chzn-select', :multiple => true }
  .input
    = f.label :default_longitude
    = f.text_field :default_longitude
  .input
    = f.label :default_latitude
    = f.text_field :default_latitude
  .submit
    = f.submit 'Save'
