-content_for :head do
  :javascript
    $(function(){
      $('.join-button')
        .bind("ajax:complete", function(){
          $(this).siblings('.quit-button').toggle();
          $(this).toggle();
          $('.me').toggle();
          $('.no-members').toggle();
        });
      $('.quit-button')
        .bind("ajax:complete", function(){
          $(this).toggle();
          $(this).siblings('.join-button').toggle();
          $('.me').toggle();
          $('.no-members').toggle();
        });
    });
-content_for :header do
  %h1
    =image_tag "icons/users.png"
    =@group.name 
.bloc.left
  .title
    Group Information
  .content
    .center
      %p
        %b Code:
        = @group.code
      %p
        %b Description:
        = @group.description
      %p
        %b Default longitude:
        = @group.default_longitude
      %p
        %b Default latitude:
        = @group.default_latitude

      = link_to 'Edit', edit_group_path(@group)
      \|
      = link_to 'Back', groups_path
      \|
      =link_to "Join", join_group_path(@group), :method => 'put', :remote => true, :class => 'join-button', :style => ((current_user.groups.include? @group) ? "display: none;" : "")
      =link_to "Quit", quit_group_path(@group), :method => 'put', :remote => true, :class => 'quit-button', :style => ((current_user.groups.include? @group) ? "" : "display: none;")
.bloc.right
  .title
    Map
  .content.center
    %img{:src => "http://maps.googleapis.com/maps/api/staticmap?center="+@group.default_longitude.to_s+','+@group.default_latitude.to_s+"&zoom=14&size=300x300&maptype=hybrid&sensor=false&markers=color:blue%7C"+@group.default_longitude.to_s+','+@group.default_latitude.to_s}
.cb
.bloc
  .title
    Members
  .content
    .center
      %ul
        %li.me{:style => ((current_user.groups.include? @group) ? "" : "display: none;")}
          %strong=current_user.email
        -if @group.users.count == 0 || (@group.users.count == 1 && (@group.users.include? current_user))
          %p.no-members{:style => ((@group.users.count == 0) ? "" : "display: none;")}
            No members currently.
        -@group.users.each do |user|
          -if current_user.id != user.id
            %li=user.email
