= form_for @restaurant do |f|
  -if @restaurant.errors.any?
    #error_explanation
      %h2= "#{pluralize(@restaurant.errors.count, "error")} prohibited this restaurant from being saved:"
      %ul
        - @restaurant.errors.full_messages.each do |msg|
          %li= msg
  .input
    = f.label :name
    = f.text_field :name
  .input
    = f.label :category_ids
    = f.select :category_ids, options_for_select(@categories), {}, { :class => 'chzn-select', :multiple => true }
  .input
    = f.label :link
    = f.text_field :link
  .input
    = f.label :latitude
    = f.text_field :latitude
  .input
    = f.label :longitude
    = f.text_field :longitude
  .input
    = f.label :description
    = f.text_area :description
  .submit
    = f.submit 'Save'
