-content_for :header do
  %h1
    =image_tag "icons/document-checklist.png"
    Restaurants

.bloc
  .title
    Restaurants
  .content
    %table
      %thead
        %tr
          %th Name
          %th Description
          %th Link
          %th

      %tbody
        - @restaurants.each do |restaurant|
          %tr
            %td= link_to(restaurant.name,restaurant)
            %td= restaurant.description
            %td= restaurant.link
            %td
              = link_to image_tag('icons/actions/edit.png'), edit_restaurant_path(restaurant)
              = link_to image_tag('icons/actions/delete.png'), restaurant, :confirm => 'Are you sure?', :method => :delete

    %p
      =link_to 'New Restaurant', new_restaurant_path
