.bloc
  .title
    Lunches
  .content
    %p
      Listed below are all the lunches that you've created or are attended.
    %table
      %thead
        %tr
          %th Name
          %th Date
          %th Groups
          %th Restaurant
          %th

      %tbody
        - @lunches.each do |lunch|
          %tr
            %td= lunch.name
            %td= lunch.date
            %td= lunch.group_ids
            %td= lunch.restaurant_id
            %td
              = link_to 'Show', lunch
              = link_to 'Edit', edit_lunch_path(lunch)
              = link_to 'Destroy', lunch, :confirm => 'Are you sure?', :method => :delete

    %p= link_to 'New Lunch', new_lunch_path
