!!! 5
%html
  %head
    = stylesheet_link_tag 'reset.css'
    = stylesheet_link_tag 'style.css'
    = stylesheet_link_tag 'jqueryui/jqueryui.css'
    = stylesheet_link_tag 'chosen.css'
    = stylesheet_link_tag 'all.css'
  %body.dark
  #content.white
    =yield
